* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-black: #000000;
  --main-white: #e3e6dd;
  --main-bg: #284629;
  --second-bg: #1f1f1f;
  --darker-green-bg: #243e1c;
  --services-color: #86bc65;
  --cta-button: #7eff75;
  --cta-button-hover: #fdff6e;
  --cta-button-active: #f59c38;
  --btn-hover: #186e03;
  --btn-active: #1b3601;
  --header-highlight: #036419;
  --header-text-lighter: #8f6141;
  --footer-nav: #192c13;
  --hover-social: #b1cd40;
  --input-bg: #f2ffdd;
}

body {
  background-color: #284629;
  font-family: "Roboto", sans-serif;
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  min-height: 8vh;
  font-family: "Spartan", sans-serif;
}

h1 {
  font-family: "Ubuntu", sans-serif;
  color: var(--main-white);
  font-size: 2.5rem;
}

h2 {
  font-family: "Amatic SC", cursive;
}

h3 {
  font-size: 1.8rem;
  color: var(--main-white);
}

h4 {
  font-size: 1.4rem;
  color: var(--main-white);
  font-family: "Bitter", serif;
  font-weight: 300;
}

span {
  color: var(--header-highlight);
}

.hidden {
  display: none;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 25%;
  margin-left: 4rem;
  font-size: 1.2rem;
  transition: 0.5s ease-out;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  text-decoration: none;
  color: var(--main-black);
}

.nav-links a:hover {
  text-decoration: underline;
}

.logo {
  margin-left: 8rem;
}

.logo a {
  text-decoration: none;
  color: var(--main-black);
  font-family: "Atma", cursive;
  font-size: 32px;
}

.cta {
  margin-left: 20rem;
  position: absolute;
  right: 8rem;
  font-size: 1.2rem;
  filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}

.cta a {
  text-decoration: none;
  color: var(--main-black);
  background-color: var(--cta-button);
  border-radius: 5px;
  padding: 12px 20px;
}

.cta a:hover {
  background-color: var(--cta-button-hover);
}
.cta a:active {
  background-color: var(--cta-button-active);
}

.checkbtn {
  font-size: 3rem;
  color: var(--main-white);
  margin-left: auto;
  order: 2;
  margin-right: 2rem;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

/* --------------------------------------  HERO SECTION   ---------------------------------------- */

.hero-section {
  position: relative;
  height: 80vh;
  background-image: linear-gradient(
      0deg,
      rgba(6, 68, 13, 0.4) 8.78%,
      rgba(103, 191, 181, 0.18) 83.78%
    ),
    url("photo-1597685204565-110abf469a1e.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  background-position: 0rem 75%;
}

.hero-text {
  position: absolute;
  bottom: 10%;
  left: 4%;
  width: 30%;
  height: 27%;
  padding: 2rem 1rem;
  border-radius: 15px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-color: #062204cc;
  color: var(--main-white);
}

.hero-text h2 {
  font-size: 3.5rem;
  padding-bottom: 1rem;
}
.hero-text p {
  padding-bottom: 1.5rem;
  line-height: 1.4rem;
  font-size: 1.4rem;
}

.btn {
  border: 2px solid var(--main-white);
  border-radius: 10px;
  padding: 8px 16px;
  font-family: "Spartan", sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--btn-hover);
}
.btn:active {
  background-color: var(--btn-active);
}

/* --------------------------------------  SERVICES SECTION   ---------------------------------------- */

.services-section {
  background-color: var(--main-bg);
  display: flex;
  justify-content: center;
  padding-top: 2.5rem;
  padding-bottom: 4rem;
}

.services-container {
  width: 80vw;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.services-container h1 {
  margin-bottom: 2.5rem;
}

.services-container h2 {
  font-size: 3rem;
}

.services {
  display: flex;
  justify-content: space-around;
}

.services p {
  font-size: 1.3rem;
  text-align: left;
}

.service1,
.service2,
.service3,
.service4 {
  padding: 1rem 1rem 2rem 1rem;
  width: 17vw;
  border-radius: 1rem;
}

.service1,
.service3 {
  background-color: var(--services-color);
}

.service2,
.service4 {
  color: var(--main-white);
}

.service-logo {
  margin: 1.5rem 0;
  font-size: 5rem;
}

/* --------------------------------------  ABOUT SECTION   ---------------------------------------- */

.about-section {
  background-color: var(--main-white);
  padding: 4rem 6rem;
}

.vertical-split1,
.vertical-split2 {
  display: flex;
  flex-direction: row;
  align-items: ce;
  gap: 4rem;
}

.vertical-split2 {
  margin-top: 4rem;
}

.horizontal-split-text {
  width: 60%;
}

.horizontal-split-text h1 {
  color: var(--main-black);
  font-size: 2rem;
  margin-bottom: 2rem;
}

.horizontal-split-text h2 {
  color: var(--header-text-lighter);
  font-size: 2rem;
  margin-bottom: 1rem;
}
.horizontal-split-text p {
  color: var(--main-black);
  font-size: 1.3rem;
}

.horizontal-split-image {
  width: 40%;
  height: 13vw;
  border-radius: 1rem;
  background-image: url(photo-1568992688065-536aad8a12f6.jfif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.vertical-split-logo {
  width: 15%;
  height: 13.5vw;
  flex-shrink: 0;
  background-image: url(Kovaa_ja_Kontissa.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* --------------------------------------  STRENGHTS SECTION   ---------------------------------------- */

.strengths-section {
  background-color: var(--second-bg);
  color: var(--main-white);
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 6rem;
}

.strengths-container {
  width: 80vw;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.strengths-container h2 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.strengths {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}

.strengths p {
  font-size: 1.3rem;
  text-align: left;
}

.strength1,
.strength2,
.strength3 {
  padding: 0rem 1rem;
  width: 25vw;
}

.strength-logo {
  margin: 1.2rem 0;
  font-size: 5rem;
}

/* --------------------------------------  Footer SECTION   ---------------------------------------- */

.footer-section {
  /* height: 80vh; */
  background-color: var(--main-bg);
  color: var(--main-white);
  margin-bottom: 2rem;
}

.footer {
  display: flex;
  flex-direction: row;
}

.footer-split-left {
  padding: 6rem 4rem;
  width: 80vw;
  display: flex;
}
.footer-split-right {
  padding: 6rem 4rem;
  width: 20vw;
  background-color: var(--footer-nav);
  flex-shrink: 0;
}

.footer-logo {
  width: 12.6vw;
  height: 25vh;
  background-image: url(Kovaa_ja_Kontissa.png);
  background-size: contain;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

.footer-socials-logo {
  font-size: 2rem;
}

.footer-text {
  margin-left: 4rem;
}

.footer-socials {
  margin-left: 30%;
  font-size: 1.4rem;
  display: flex;
  gap: 1rem;
  text-align: center;
  height: 3rem;
}

.footer-socials a {
  display: inline;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-top: 0.5rem;
  color: var(--main-white);
}

.footer-socials a:hover {
  color: var(--hover-social);
}

.footer-nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  font-size: 1.4rem;
  font-family: "Spartan", sans-serif;
}

.footer-links li {
  list-style: none;
}
.footer-links a {
  display: block;
  text-decoration: none;
  color: var(--main-white);
  padding: 1rem 1rem;
  border-radius: 5px;
}

.footer-links li :hover {
  background-color: #061a04;
}

.footer-map {
  width: 100%;
  height: 25vh;
}

/* ------------------------------------------------------------------------------------------------ */
/* --------------------------------------  SERVICES PAGE   ---------------------------------------- */
/* --------------------------------------  SERVICES PAGE  ---------------------------------------- */
/* --------------------------------------  SERVICES PAGE   ---------------------------------------- */
/* ------------------------------------------------------------------------------------------------ */

.services-logo a {
  color: var(--main-white);
}

.services-nav-links a {
  color: var(--main-white);
}

.navigation-header {
  background-color: var(--footer-nav);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.navigation-header h1 {
  font-size: 2rem;
  font-weight: 100;
}

.service-hidden {
  display: none;
}

/* --------------------------------------  SERVICES SECTION   ---------------------------------------- */

.services-explained {
  background-color: var(--darker-green-bg);
  color: var(--main-white);
  padding: 0rem 8rem;
  padding-bottom: 6rem;
}
.service-explained {
  padding-top: 3rem;
  display: flex;
  gap: 6rem;
  align-items: center;
}
.service-explained-text {
  width: 100%;
}
.service-explained-text h3 {
  font-family: "Vollkorn", serif;
  font-weight: 100;
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

.service-explained-text p {
  font-size: 1.3rem;
}
.service-explained-picture1,
.service-explained-picture2,
.service-explained-picture3,
.service-explained-picture4 {
  /* width: 30%;
  height: 25vh; */
  height: 10vw;
  width: 50%;
  background-position: 0% 70%;
  background-repeat: no-repeat;
  background-size: cover;
}

.service-explained-picture1 {
  background-image: url("Raskas.jfif");
}
.service-explained-picture2 {
  background-image: url("Kevyt.jfif");
}
.service-explained-picture3 {
  background-image: url("muutto.jfif");
}
.service-explained-picture4 {
  background-image: url("Kylmä.jfif");

  background-position: 0% 40%;
}

/* ------------------------------------------------------------------------------------------------ */
/* --------------------------------------  VEHICLES PAGE  ---------------------------------------- */
/* --------------------------------------  VEHICLES PAGE   ---------------------------------------- */
/* --------------------------------------  VEHICLES PAGE   ---------------------------------------- */
/* ------------------------------------------------------------------------------------------------ */

.vehicles-section {
  padding: 4rem 12rem 8rem 12rem;
  background-color: var(--darker-green-bg);
  display: flex;
  gap: 13vw;
}

.vehicle {
  color: var(--main-white);
  width: 100%;
}

.vehicle h3 {
  margin-bottom: 1rem;
  color: var(--services-color);
  font-family: "spartan", cursive;
  font-weight: 100;
  font-size: 1.4rem;
}

.vehicle-picture1,
.vehicle-picture2 {
  width: 100%;
  height: 22vw;
  margin-bottom: 1rem;
}
.vehicle-picture1 {
  background-image: url("nissan.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.vehicle-picture2 {
  background-image: url("mercedes.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* ---------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------  CORPORATE RESPONSIBILITY PAGE  ---------------------------------------- */
/* --------------------------------------  CORPORATE RESPONSIBILITY PAGE   ---------------------------------------- */
/* --------------------------------------  CORPORATE RESPONSIBILITY PAGE   ---------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------- */

.corporateResp-section {
  padding: 4rem 22% 6rem 22%;
  background-color: var(--darker-green-bg);
  color: var(--main-white);
}

.corporateResp-section h3 {
  font-family: "Vollkorn", serif;
  color: var(--services-color);
  font-weight: 100;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.corporateResp-section h2 {
  color: var(--services-color);
  margin-bottom: 0.2rem;
  font-size: 1.9rem;
}
.corporateResp-section p {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

/* ---------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------  CONTACT PAGE  ----------------------------------------------- */
/* -------------------------------------------------  CONTACT PAGE  ----------------------------------------------- */
/* -------------------------------------------------  CONTACT PAGE  ----------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------- */

.contact-section {
  background-color: var(--darker-green-bg);
  color: var(--main-white);
  padding: 4rem 20rem 6rem 20rem;
}

label {
  font-size: 2rem;
}

input {
  padding: 0.5rem 1rem;
  background-color: var(--input-bg);
  border: none;
  border-radius: 5px;
  width: 50%;
}

textarea {
  padding: 0.5rem 1rem;
}

textarea {
  background-color: var(--input-bg);
  border-radius: 5px;
}

input[type="checkbox"] {
  zoom: 1.5;
  width: auto;
  border: none;
}

.kuljetustarve-label {
  font-family: "Amatic SC", cursive;
}

.checkbox-section h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.checkboxes {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.checkboxes label {
  font-family: "Spartan", sans-serif;
  font-weight: 100;
  font-size: 1.4rem;
}

.kuljetustarve-header-div {
  margin-bottom: 1rem;
}

.input-section {
  font-family: "Amatic SC", cursive;
}

.input-row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.input-left {
  display: flex;
  width: 50%;
  padding-right: 1rem;
  justify-content: space-between;
}
.input-right {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.input-section {
  margin-bottom: rem;
}

.textarea-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-button {
  background-color: var(--cta-button);
  color: var(--main-black);
  text-decoration: none;
  font-size: 1.4rem;
  padding: 1rem 10rem;
  border: none;
  border-radius: 5px;
  filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.25));
}

.formButton-section {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

/* ---------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------  CONTACT THANKYOU PAGE  ----------------------------------------------- */
/* -------------------------------------------------  CONTACT THANKYOU PAGE  ----------------------------------------------- */
/* -------------------------------------------------  CONTACT THANKYOU PAGE  ----------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------- */

.thankyou-section {
  background-color: var(--darker-green-bg);
  color: var(--main-white);
  padding: 4rem 28rem 6rem 28rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thankyou-section h1 {
  font-family: "Vollkorn", serif;
  font-weight: 200;
  font-size: 2.5rem;
  margin: 3rem 0rem 0.5rem 0rem;
}

.thankyou-section p {
  font-size: 1.2rem;
  margin-bottom: 5rem;
}

.thankyou-company-logo {
  height: 18vw;
  width: 100%;
  background-position: center;
  background-image: url("Kovaa_ja_Kontissa.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 1700px) {
  .hero-text h2 {
    font-size: 3rem;
  }

  .hero-text p {
    font-size: 1.3rem;
  }

  .hero-text {
    /* background-color: red; */
  }

  .logo {
    margin-left: 4rem;
  }
  .nav-links {
    width: 30%;
  }
  .cta {
    right: 4rem;
  }

  .services-section {
    padding: 3rem 0rem;
  }

  .services h2 {
    font-size: 2.5rem;
  }

  .services p {
    font-size: 1.3rem;
    text-align: left;
  }

  .service-logo {
    font-size: 4rem;
  }

  .service-explained-text h3 {
    font-size: 1.8rem;
  }

  .service-explained-text p {
    font-size: 1.2rem;
  }

  .footer-socials {
    margin-left: 4rem;
  }

  .footer-split-right {
    padding: 6rem 2rem;
  }

  .contact-section {
    padding: 4rem 8rem 6rem 8rem;
  }

  .thankyou-section {
    padding: 4rem 20rem 6rem 20rem;
  }
}

@media screen and (max-width: 1560px) {
  .hero-text h2 {
    font-size: 2.5rem;
  }

  .hero-text p {
    font-size: 1.2rem;
  }

  .hero-text {
    /* background-color: blue; */
  }
  .logo {
    margin-left: 2rem;
  }
  .nav-links {
    margin-left: 2rem;
    width: 40%;
  }
  .cta {
    right: 2rem;
  }

  .services-container h1 {
    font-size: 2.5rem;
  }
  .services-container h2 {
    font-size: 2.5rem;
  }

  .strengths-container h1 {
    font-size: 2.5rem;
  }
  .strengths-container h2 {
    font-size: 2.5rem;
  }

  .horizontal-split-image {
    width: 40%;
    height: 16vw;
  }

  .strengths p {
    font-size: 1.2rem;
  }

  .strength-logo {
    font-size: 4rem;
  }

  .footer-links {
    font-size: 1.1rem;
  }
  .services p {
    font-size: 1rem;
    text-align: left;
  }

  .vehicles-section {
    padding: 4rem 6rem 6rem 6rem;
    gap: 12vw;
  }

  .thankyou-section {
    padding: 4rem 10rem 6rem 10rem;
  }

  .service-explained {
    padding: 0rem 3rem 0rem 3rem;
    padding-top: 3rem;
    gap: 6rem;
  }

  .services-explained {
    padding: 0rem 0rem 4rem 0rem;
  }
}

@media screen and (max-width: 1260px) {
  /* HAMBURGER NAV SECTION */
  .hero-text {
    /* background-color: rgb(88, 88, 0); */
  }

  .hero-text h2 {
    font-size: 2.2rem;
  }

  .hero-text p {
    font-size: 1.2rem;
  }

  .horizontal-split-image {
    width: 40%;
    height: 19vw;
  }

  .vertical-split-logo {
    width: 25%;
    height: 20vw;
  }
}

@media screen and (max-width: 1000px) {
  /* -------------------------------------------------- Nav SECTION ---------------------------------------------- */
  .checkbtn {
    display: flex;
  }

  nav {
    background-color: var(--main-bg);
    position: fixed;
    width: 100%;
  }

  .navigation-header {
    padding-top: 4rem;
    height: 17vh;
  }
  .navigation-header h1 {
    font-size: 1.6rem;
  }
  .logo a {
    color: var(--main-white);
  }

  .nav-links {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 68px;
    left: -100%;
    background-color: rgba(27, 31, 7, 0.915);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    gap: 3rem;
    margin: 0;
    padding: 2rem 0 0 0;
    z-index: 999;
  }

  .nav-links li {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-links li a {
    padding: 3vh 20vw;
    border-radius: 5px;
    color: var(--main-white);
  }
  .nav-links li a:hover {
    background-color: rgb(42, 117, 39);
  }

  .cta {
    display: none;
  }

  .hidden {
    display: block;
  }

  #check:checked ~ ul {
    left: 0;
  }

  /* -------------------------------------------------- Hero SECTION ---------------------------------------------- */

  .hero-text {
    display: none;
  }

  .hero-section {
    height: 40vw;
    background-position: 0 60%;
  }

  /* -------------------------------------------------- Services SECTION ---------------------------------------------- */

  .services-container h1 {
    font-size: 2rem;
  }
  .services-container h2 {
    font-size: 2rem;
  }
  .services-container p {
    font-size: 1rem;
  }

  .services {
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .service1,
  .service2,
  .service3,
  .service4 {
    width: 40%;
  }

  .service3 {
    background: inherit;
    color: var(--main-white);
  }

  .alternative-bg {
    background-color: var(--services-color);
    color: var(--main-black);
  }

  .service-logo {
    font-size: 6vw;
  }

  /* -------------------------------------------------- ABOUT SECTION ---------------------------------------------- */
  .about-section {
    padding: 2rem 2rem 4rem 2rem;
  }

  .vertical-split1 {
    flex-direction: column;
    align-items: center;
  }

  .horizontal-split-text {
    width: 100%;
  }

  .horizontal-split-text h1 {
    font-size: 1.5rem;
  }

  .horizontal-split-text h2 {
    font-size: 1.7rem;
  }
  .horizontal-split-text p {
    font-size: 1rem;
  }

  .horizontal-split-image {
    height: 15vh;
    width: 100%;
  }

  .vertical-split-logo {
    height: 35vh;
    background-position: top;
    display: none;
  }

  /* -------------------------------------------------- STRENGTHS SECTION ---------------------------------------------- */

  .strengths {
    flex-direction: column;
    gap: 2rem;
  }

  .strengths-container h1 {
    font-size: 1.5rem;
  }

  .strengths-container h2 {
    font-size: 1.7rem;
  }
  .strengths-container p {
    font-size: 1rem;
  }

  .strength1,
  .strength2,
  .strength3 {
    width: 100%;
  }

  /* -------------------------------------------------- FOOTER SECTION ---------------------------------------------- */

  .footer-split-left {
    padding: 2rem 2rem 3rem 2rem;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .footer-logo {
    height: 25vw;
    width: 100%;
    background-position: center;
    margin-bottom: 2rem;
  }
  .footer-text {
    margin: 0 0 2rem 0rem;
  }
  .footer-socials {
    margin: 0;
  }

  .footer-split-right {
    display: none;
  }

  /* -------------------------------------------------- Services PAGE ---------------------------------------------- */
  /* -------------------------------------------------- Services PAGE ---------------------------------------------- */
  /* -------------------------------------------------- Services PAGE ---------------------------------------------- */
  .service-explained {
    flex-direction: column;
  }

  .service-explained-picture1,
  .service-explained-picture2,
  .service-explained-picture3,
  .service-explained-picture4 {
    width: 100%;
    height: 40vw;
  }

  .service-hidden {
    display: block;
  }

  .hide-service {
    display: none;
  }

  /* -------------------------------------------------- contact form PAGE ---------------------------------------------- */
  /* -------------------------------------------------- contact form PAGE ---------------------------------------------- */
  /* -------------------------------------------------- contact form PAGE ---------------------------------------------- */
  .contact-section {
    padding: 2rem 3rem;
  }

  .input-row {
    flex-direction: column;
    gap: 1rem;
  }
  .input-left,
  .input-right {
    width: 100%;
    padding: 0;
  }

  /* -------------------------------------------------- Thankyou PAGE ---------------------------------------------- */
  /* -------------------------------------------------- Thankyou PAGE ---------------------------------------------- */
  /* -------------------------------------------------- Thankyou PAGE ---------------------------------------------- */

  .thankyou-section {
    padding: 2rem 3rem;
  }
  .thankyou-section h1 {
    font-size: 1.8rem;
  }
  .thankyou-section p {
    margin-bottom: 3rem;
  }

  .thankyou-company-logo {
    height: 25vw;
  }
}

@media screen and (max-width: 650px) {
  .navigation-header h1 {
    font-size: 1.4rem;
  }
  .nav-links {
    top: 64px;
  }

  .hero-section {
    height: 50vw;
    background-position: 0 50%;
  }

  .services-section {
    padding: 1.5rem 0rem;
  }

  .services {
    flex-direction: column;
  }
  .services-container h1 {
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }
  .services-container h2 {
    font-size: 2.3rem;
    margin-bottom: 1rem;
    text-align: left;
  }

  .service1,
  .service2,
  .service3,
  .service4 {
    width: 100%;
  }

  .service3 {
    background: var(--services-color);
    color: var(--main-black);
  }

  .alternative-bg {
    background-color: inherit;
    color: var(--main-white);
  }

  .service-logo {
    display: none;
  }

  .logo a {
    font-size: 1.5rem;
  }

  .vertical-split2 {
    margin-top: 2rem;
    flex-direction: column;
    gap: 2rem;
  }

  .footer-logo {
    height: 40vw;
  }

  .footer-text h3 {
    font-size: 1.5rem;
  }
  .footer-text h4 {
    font-size: 1.2rem;
  }

  /* --------------------------------- VEHICLES PAGE --------------------------- */

  .vehicles-section {
    flex-direction: column;
    padding: 2rem 3rem;
  }

  .vehicle {
    text-align: center;
  }
  .vehicle-picture1,
  .vehicle-picture2 {
    height: 40vw;
  }

  /* --------------------------------- VEHICLES PAGE --------------------------- */
  /* --------------------------------- VEHICLES PAGE --------------------------- */
  /* --------------------------------- VEHICLES PAGE --------------------------- */

  .corporateResp-section {
    padding: 2rem 3rem;
  }

  .corporateResp-section h3 {
    font-size: 1.5rem;
  }
  .corporateResp-section p {
    font-size: 1rem;
  }

  /* -------------------------------------------------- contact form PAGE ---------------------------------------------- */
  /* -------------------------------------------------- contact form PAGE ---------------------------------------------- */
  /* -------------------------------------------------- contact form PAGE ---------------------------------------------- */
  input[type="checkbox"] {
    zoom: 1.4;
  }

  .checkbox1,
  .checkbox2,
  .checkbox3,
  .checkbox4 {
    display: flex;
    align-items: center;
  }
  .checkbox1 label,
  .checkbox2 label,
  .checkbox3 label,
  .checkbox4 label {
    font-size: 0.8rem;
  }
  .contact-section {
    padding: 1rem 2rem;
  }

  .input-row {
    flex-direction: column;
    gap: 1rem;
  }
  .input-left label,
  .input-right label,
  .textarea-section label,
  .kuljetustarve-label {
    font-size: 1.5rem;
  }

  .formButton-section {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .form-button {
    text-align: center;
    padding: 3vw 25vw;
  }

  .checkbox-section {
    margin-bottom: 1.5rem;
  }

  /* -------------------------------------------------- thankyou PAGE ---------------------------------------------- */
  /* -------------------------------------------------- thankyou PAGE ---------------------------------------------- */
  /* -------------------------------------------------- thankyou PAGE ---------------------------------------------- */

  .thankyou-section {
    padding: 2rem 2rem 3rem 2rem;
  }
  .thankyou-section h1 {
    font-size: 1.6rem;
    text-align: left;
    width: 100%;
    margin-top: 2rem;
  }
  .thankyou-section p {
    font-size: 1rem;
  }

  .thankyou-company-logo {
    height: 50vw;
  }
}
